</br>
</br>
<h2>
<p>
  <strong>Nombre:</strong>
  <%= Current.user.name %>
</p>
</h2>

<h2> Editar Contraseña </h2>
<%= form_with model: Current.user, url: password_path do |form| %>
  <%if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div> <%= message %></div>
        <% end %>
    </div>
    <% end %>


  <div class="mb-3">
    <%= form.label "Nueva Contraseña"%>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Confirmar Contraseña" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <% if Current.user && Current.user.has_permission('Administrador') %>
    <h1> Editar nombre de usuario o mail </h1>
    <div class="mb-3">
      <%= form.label "Nuevo usuario o mail"%>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Actualizar", class: "btn btn-primary"%>
  </div>
<% end %>