<% if Current.user.has_permission('Administrador') %>
  <h1> Registrar Usuario Administrador </h1>
  <%= form_with model: @administrator, url: sign_up_user_administrator_path do |form| %>
  <%if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div> <%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label "Nombre de usuario o correo" %>
    <%= form.text_field :name, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label "Contrase침a" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label "Confirmaci칩n de contrase침a" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Registrar", class: "btn btn-primary"%>
  </div>
  <% end %>
<% else %>
  <h1> No tienes permisos para ingresar a esta secci칩n </h1>
<% end %>